@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
--primary-color: #30336b;
--secondary-color: #be2edd;
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    transition: transform 0.3s ease-in-out;
}

body.showw {
    transform: translateX(200px);
}

.allBox {
    transition: transform 0.3s ease-in-out;
}

.allBox .inBox1 {
    width: 100%;
    position: relative;
}

.allBox .inBox1 .mainMenuu {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 1.7rem;
    color: #fff;
    padding: 0px 10px;
    background: rgba(0, 0, 0, 0.26);
    border-radius: 5px;
}

.allBox .inBox1 .titleBox{
    text-align: center;
    background: var(--primary-color);
    color: #fff;
    padding-bottom: 60px;
}

.allBox .inBox1 .title {
    padding-top: 40px;
    font-weight: 600;
    font-size: 2.2rem;
    padding-bottom: 20px;
}

.allBox .inBox1 .titlePara {
    font-size: 1.2rem;
}

.allBox .inBox1 .signUp {
    margin-top: 25px;
    padding: 10px 25px;
    font-size: 1.2em;
    text-transform: capitalize;
    background: var(--secondary-color);
    border: 0px;
    border-radius: 5px;
    color: #fff;
}

.allBox .inBox1 .bodyBox {
    width: 60%;
    margin: 0 auto;
}

.allBox .inBox1 .bodyBox .bodyTitle {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 15px;
}

.allBox .inBox1 .bodyBox ul {
    padding-left: 50px;
    padding-bottom: 10px;
}

.allBox .signUpForm {
    background: rgba(0, 0, 0, 0.651);
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: modalopen;
    animation-duration: 0.7s;
    display: none;
}

.allBox .signUpForm form {
    width: 27%;
    margin: 0 auto;
    border-radius: 5px;
    background: #fff;
    position: fixed;
}

.allBox .signUpForm form .formTitle {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    background: var(--primary-color);
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 30px;
}

.show {
    display: flex !important;
}

.allBox .signUpForm form .formTitle .signSign {
    font-size: 1.3rem;
    position: absolute;
    top: 5px;
    right: 7px;
}

.allBox .signUpForm form .formTitle .formSignUp {
    padding-left: 10px;
    font-weight: 600;
}

.allBox .signUpForm .inFormBox {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.allBox .signUpForm .inFormBox .formPara {
    font-size: 0.95rem;
    padding-bottom: 20px;
}

.allBox .signUpForm .inFormBox .labelForm {
    display: block;
    font-weight: 400;
    padding-bottom: 5px;
}

.allBox .signUpForm .inFormBox .formInput {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
}

.allBox .signUpForm .inFormBox .formSubmit {
    padding: 5px 10px;
    margin-top: 10px;
    background: var(--secondary-color);
    border-radius: 5px;
    border: 0px;
    color: #fff;
    margin-bottom: 20px;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.allBox .inBox2 {
    width: 200px;
    background: #30336b;
    border-right: 3px solid #656aaf;
    color: #fff;
    position: fixed;
    z-index: 100;
    height: 100vh;
    transition-property: transform;
    transition-duration: 0.3s;
    transform: translateX(-100%);
}

.allBox .inBox2 .img {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.allBox .inBox2 .img .picture {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: url('photo/profile.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.allBox .inBox2 .main {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 3px solid #656aaf;
}

.allBox .inBox2 .home {
    border-top: 3px solid #656aaf;
}

